
@font-face {font-family: "iconfont";
  src: url(./iconfont/iconfont.eot); /* IE9*/
  src: url(./iconfont/iconfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(./iconfont/iconfont.woff?) format('woff'), /* chrome, firefox */
  url(./iconfont/iconfont.ttf?) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./iconfont/iconfont.svg?#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:27px;
  font-style:normal;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before { content: "\e660"; }
.icon-wechat:before { content: "\e891"; }

.icon-icon:before { content: "\e607"; }

.icon-youjian:before { content: "\e636"; }

.icon-dianhua:before { content: "\e602"; }

.icon-youxiang:before { content: "\e60b"; }

.icon-saomiao:before { content: "\e67d"; }

.icon-dianhua1:before { content: "\e613"; }

.icon-qq:before { content: "\e623"; }

.icon-xinxinicon:before { content: "\e60c"; }

.icon-fanhuidingbu:before { content: "\e629"; }

.icon-email:before { content: "\e641"; }
.icon-category:before { content: "\e699"; }
.icon-phone2:before { content: "\e663"; }
.icon-anzhuoduanliulanqidakai:before { content: "\e735"; }
.icon-gengduo:before { content: "\e620"; }
.icon-xiazai:before { content: "\e7e0"; }
.icon-right:before { content: "\e601"; }
.icon-download3:before { content: "\e787"; }
.icon-denglu:before { content: "\e618"; }
.icon-more:before { content: "\e668"; }